
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Admin  Home Page
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href=" /css/material-dashboard.min.css?v=2.1.2" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/css/demo.css" rel="stylesheet"/>
    <link href="/css/mdb.min.css" rel="stylesheet" type="text/css">
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="#" class="simple-text logo-normal">
            MIUSched
        </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/admindashboard">
                        <i class="material-icons">dashboard</i>
                        <p> Admin Dashboard</p>
                    </a>
                </li>
<!--                <li class="nav-item ">-->
<!--                    <a class="nav-link" href="admin/profile">-->
<!--                        <i class="material-icons">Person</i>-->
<!--                        <p>User Profile</p>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/entry">
                        <i class="material-icons">location_searching</i>
                        <p>Manage Entry</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/admin/block">
                        <i class="material-icons">language</i>
                        <p>Manage Block</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/section">
                        <i class="material-icons">layers</i>
                        <p>Manage Section</p>
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="/admin/course">
                        <i class="material-icons">library_books</i>
                        <p>Manage Course</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/student">
                        <i class="material-icons">library_books</i>
                        <p>Manage Student</p>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class=" col-4 ml-5"><h2 class="green-text">Add Student</h2>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#basicExampleModal">
                       Add Student
                    </button>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-12 mx-auto mt-2">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h5 class="card-title text-center">Student Information</h5>
                                <p class="card-category "></p>
                            </div>
                            <!--                    <h2 th:if="${response.success} == true"  th:text ="${response.msg}"></h2>-->

                            <div class="card-body table-responsive">
                                <table class="table table-hover" id="dtBasicExample">
                                    <thead class="text-success">
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>




                                    <!--                                    <th>Edit Entry</th>-->
                                    <!--                                    <th>Delete Entry</th>-->
                                    </thead>

                                    <tbody>
                                    <tr th:each="student : ${students}">
                                        <td style=" display: none" th:text="${student.id}" class="secid"></td>
                                        <td th:text="${student.lastName}"class="secnum1"></td>
                                        <td th:text="${student.email}" class="secnum2"></td>
<!--                                        <td th:text="${student.address.getTelephone()}" class="level"></td>-->
                                        <td><a  data-toggle="modal" data-target="#updatexampleModal"  th:href="${'/admin/student/edit/' + student.id}"class="btn btn-default">Edit</a> </td>
                                        <td><a  class="btn btn-danger" th:href="${'/admin/student/delete/' + student.id}" onclick="return confirm('Are you sure?')">Delete</a> </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">

    </footer>
</div>
</div>

<!--Modlas-->


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Course</h5>
                <button type="button" class="cancel" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--            <form class="text-center" style="color: #757575;" action="#!">-->
            <form class="text-center" style="color: #757575;" action="#" th:action="@{/admin/student/new}" th:object="${newStudent}"
                  method="post">
                <div class="modal-body">
                    <input type="hidden" class ="secid" th:field="*{id}"/>

                    <!--                    <input type="text" id="materialSubscriptionFormPasswords" class="form-control mb-4" placeholder="Title">-->

                    <input type="text"  id="materialSubscriptionFormEmaile" class="form-control mb-4 secnum1" placeholder="First Name" th:field="*{firstName}">
                    <input type="text"  id="materialSubscriptionFormEmailm" class="form-control mb-4 secnum2" placeholder="Last Name" th:field="*{lastName}">
                    <div class="md-form">
                        <input type="text"  min="0" id="inputMDEx" class="form-control level" th:field="*{email}">
                        <label for="inputMDEx">Email</label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success"> Add </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--  ================                                         -->
<div class="modal fade" id="updatexampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel"> Update Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--            <form class="text-center" style="color: #757575;" action="#!">-->
            <form class="text-center" style="color: #757575;" action="#" th:action="@{/admin/student/update}"
                  th:object="${student1}" method="post">

                <input  class = "secid" type="hidden"   th:field="*{id}"/>
                <div class="modal-body">
                    <div>


                    </div>

                    <input type="text"  id="materialSubscriptionFormEma" class="form-control mb-4 secnum1" placeholder="Course Code" th:field="*{firstName}">
                    <input type="text" id="materialSubscrip" class="form-control mb-4 secnum2" placeholder="Course Title" th:field="*{lastName}">
                    <div class="md-form">
                        <input type="number"  min="0"  id="inputMDExr" class="form-control level" th:field="*{email}">
                        <label for="inputMDExr">Course Level</label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update changes</button>
                </div>
            </form>

        </div>
    </div>
</div>



<!--=============================-->
<!--Modal end-->

<!--   Core JS Files   -->
<script src="/js/jquery.min.js"></script>
<script src="/js/addons/datatables.min.js"></script>
<!--<script src="../assets/js/core/popper.min.js"></script>-->
<script src="/js/mdb.min.js"></script>
<script src="/js/material-dashboard.min.js"></script>
<script src="/js/bootstrap.js"></script>

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function() {

        $('#updatexampleModal').on('show.bs.modal', function (e) {

            var _button = $(e.relatedTarget); // Button that triggered the modal
            // secroom secstrt secend capac-->
            // console.log(_button, _button.parents("tr"));
            var _row = _button.parents("tr");
            var secid = _row.find(".secid").text();
            var secname = _row.find(".secname").text();
            var secnum1 = _row.find(".secnum1").text();


            $(this).find(".secid").val(secid);
            $(this).find(".secname").val(secname);
            $(this).find(".secnum1").val(secnum1);
            $(this).find(".secnum2").val(secnum2);
            // $(this).find(".level").val(level);
            // $(this).find(".credit").val(credit);
            // $(this).find(".maxs").val(maxs);
            // $('select[name="secname"]').find("option:contains(' +secname +')").attr("selected",true);
            // $(".secname").val($(".secname" + " option").filter(function() { return this.text == secname }).val());

        });


    });
</script>


<!--<script>-->
<!--    var start1 = document.getElementById('start3');-->
<!--    var end1 = document.getElementById('end3');-->
<!--    var start2 = document.getElementById('start4');-->
<!--    var end2 = document.getElementById('end4');-->

<!--    start1.addEventListener('change', function() {-->
<!--        if (start1.value)-->
<!--            end1.min = start1.value;-->
<!--    }, false);-->
<!--    end1.addEventListener('change', function() {-->
<!--        if (end1.value)-->
<!--            start1.max = end1.value;-->
<!--    }, false);-->

<!--    start2.addEventListener('change', function() {-->
<!--        if (start2.value)-->
<!--            end2.min = start2.value;-->
<!--    }, false);-->

<!--    end2.addEventListener('change', function() {-->
<!--        if (end2.value)-->
<!--            start2.max = end2.value;-->
<!--    }, false);-->

<!--</script>-->

</body>

</html>