<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================
=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Material Dashboard by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href=" /css/material-dashboard.min.css?v=2.1.2" rel="stylesheet"/>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/css/demo.css" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
        </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="/admindashboard">
                        <i class="material-icons">Dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="admin/profile">
                        <i class="material-icons">Person</i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/entry">
                        <i class="material-icons">person</i>
                        <p>Entry</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/block">
                        <i class="material-icons">Manage Block</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/section">
                        <i class="material-icons">language</i>
                        <p>Manage Section</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="./rtl.html">
                        <i class="material-icons">language</i>
                        <p>Manage Section</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->

        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class=" col-4 ml-5"><h2 class="green-text">Create Section</h2>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalcreate">
                        Create Section
                    </button>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-12 mx-auto mt-2">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h5 class="card-title text-center">Section List</h5>
                                <p class="card-category "></p>
                            </div>
                            <div class="card-body table-responsive">
                                <table id="dtBasicExample" class="table table-hover">
                                    <thead class="text-success">
                                    <th>Name</th>
                                    <th>Room</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>Capacity</th>
                                    <th>Block</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="d-none"></th>
                                    </thead>
                                    <tbody>

                                    <tr th:each="section : ${sections}">
<!--                                        private String sectionName;-->
<!--                                        private LocalDate startDate;-->
<!--                                        private LocalDate endDate;-->
<!--                                        private String classRoom;-->
<!--                                        private Integer capacity;-->
                                        <!--/*@thymesVar id="sectionName" type="java"*/-->
                                        <td class="secid d-none"  th:text="${section.id}"></td>
                                        <td th:text="${section.sectionName}" class="secname">1</td>
                                        <td th:text="${section.classRoom}" class="secroom"></td>
                                        <td th:text="${section.startDate}" class="secstrt">Dakota Rice</td>
                                        <td th:text="${section.endDate}" class="secend">Dakota Rice</td>

                                        <td th:text="${section.capacity}" class="capac"></td>
                                        <td th:text="${section.block.blockName}" class="block"> </td>
<!--                                        <td><button type="button" data-toggle="modal" data-target="#basicExampleModalview" class="btn btn-success">view</button></td>-->
                                        <td><button type="button" data-toggle="modal" data-target="#basicExampleModal" class="btn btn-default">edit</button></td>
                                        <td><a class="btn btn-danger " th:href="@{/admin/section/delete/{id}(id=${section.id})}"  onclick="return confirm('Are you sure?')">delete</a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://creative-tim.com/presentation">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                , made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
</div>
</div>

<!--Modla create-->

<div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleMel">Add new Section</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="text-center" style="color: #757575;" th:action="@{/admin/createSection}" th:object="${section}" method="Post">'
                <div class="modal-body">
<!--                    private String sectionName;&ndash;&gt;-->
                    <!--                                        private LocalDate startDate;-->
                    <!--                                        private LocalDate endDate;-->
                    <!--                                        private String classRoom;-->
                    <!--                                        private Integer capacity;-->

                    <!--                    secroom secstrt secend capac-->
                    <input type="text" th:field="*{sectionName}" id="materialSubscriptionFormPassw" class="form-control mb-4 secname" placeholder="Title" onkeypress="return isNumber(event)">
                    <input type="text" th:field="*{classRoom}" id="materialSube" class="form-control mb-4 secroom" placeholder="Room">
                    <input type="date" th:field="*{startDate}" id="materialSubscrd" class="form-control mb-4 secstrt" placeholder="Start date">
                    <input type="date" th:field="*{endDate}" id="materialSubscdl" class="form-control mb-4 secend" placeholder="end date">
                    <input type="number" th:field="*{capacity}" max="30" min="2" id="materialSubmroom" class="form-control mb-4 capac" placeholder="Capacity">

                    <select name="block" class="browser-default custom-select mb-4">
                        <option value="" disabled selected> Choose Block</option>
                        <option th:each="block :${blocks}"
                                th:text="${block.blockName}"
                                th:value="${block.id}" >Feedback</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--modale end-->
<!-- Modal  edit-->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit section</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="text-center" th:action="@{/admin/Updatesection}" method="post" th:object="${section}" style="color: #757575;" action="">
                <div class="modal-body">
<!--                    private String sectionName;-->
<!--                    private LocalDate startDate;-->
<!--                    private LocalDate endDate;-->
<!--                    private String classRoom;-->
<!--                    private Integer capacity;-->
<!--                    -->
                    <input type="hidden" class="secid" th:field="*{id}">
<!--                    secroom secstrt secend capac-->
        <input type="text" th:field="*{sectionName}" id="materialSubscriptionFormPasswords" class="form-control mb-4 secname" placeholder="Title" onkeypress="return isNumber(event)">
        <input type="text" th:field="*{classRoom}" id="materialSubscriptionFormEmaile" class="form-control mb-4 secroom" placeholder="Room">
        <input type="date" th:field="*{startDate}" id="materialSubscriptionFormEmaild" class="form-control mb-4 secstrt" placeholder="Start date">
        <input type="date" th:field="*{endDate}" id="materialSubscriptionFormEmaidl" class="form-control mb-4 secend" placeholder="end date">
        <input type="number" th:field="*{capacity}" max="30" min="2" id="materialSubscriptionFormroom" class="form-control mb-4 capac" placeholder="Capacity">

                    <select th:field="*{block}" class="browser-default custom-select mb-4 block">
                        <option value="" disabled selected> Choose Block</option>
                        <option th:each="block :${blocks}"
                                th:text="${block.blockName}"
                                th:value="${block.id}" class="block">Feedback</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Modal end-->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="badge-colors ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-warning" data-color="orange"></span>
                        <span class="badge filter badge-danger" data-color="danger"></span>
                        <span class="badge filter badge-rose active" data-color="rose"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-2.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-4.jpg" alt="">
                </a>
            </li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank"
                   class="btn btn-primary btn-block">Free Download</a>
            </li>
            <!-- <li class="header-title">Want more components?</li>
                <li class="button-container">
                    <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                      Get the pro version
                    </a>
                </li> -->



        </ul>
    </div>
</div>
<!--   Core JS Files   -->
<script src="/js/jquery.min.js"></script>
<script src="/js/addons/datatables.min.js"></script>
<!--<script src="../assets/js/core/popper.min.js"></script>-->
<script src="/js/material-dashboard.min.js"></script>
<script src="/js/bootstrap.js"></script>

<!--<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>-->
<!--&lt;!&ndash; Plugin for the momentJs  &ndash;&gt;-->
<!--<script src="../assets/js/plugins/moment.min.js"></script>-->
<!--&lt;!&ndash;  Plugin for Sweet Alert &ndash;&gt;-->
<!--<script src="../assets/js/plugins/sweetalert2.js"></script>-->
<!-- Forms Validations Plugin -->
<!--<script src="../assets/js/plugins/jquery.validate.min.js"></script>-->
<!--&lt;!&ndash; Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard &ndash;&gt;-->
<!--<script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>-->
<!--&lt;!&ndash;	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select &ndash;&gt;-->
<!
<!--  Google Maps Plugin    -->
<!-- Chartist JS -->

<!--  Notifications Plugin    -->

<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->

<!-- Material Dashboard DEMO methods, don't include it in your project! -->


<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function() {

        //$(".zz-modal").click(function() {
        //  $("#con-close-modal").modal('show');
        //});

        $('#basicExampleModal').on('show.bs.modal', function (e) {
            // console.log(e);
            // console.log(e.relatedTarget);

            var _button = $(e.relatedTarget); // Button that triggered the modal
            // secroom secstrt secend capac-->
            // console.log(_button, _button.parents("tr"));
            var _row = _button.parents("tr");
            var _secname = _row.find(".secname").text();
            var secroom = _row.find(".secroom").text()
            var secstrt = _row.find(".secstrt").text();
            var secend = _row.find(".secend").text()
            var capac = _row.find(".capac").text()
            var block = _row.find(".block").text()
            var secid = _row.find(".secid").text()
            // console.log(_invoiceAmt, _chequeAmt);

            $(this).find(".secid").val(secid);
            $(this).find(".secname").val(_secname);
            $(this).find(".secroom").val(secroom);
            $(this).find(".secstrt").val(secstrt);
            $(this).find(".secend").val(secend);
            $(this).find(".block").prop("selected",true);
            $(this).find(".capac").val(capac);
        });

    });
</script>

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        // Javascript method's body can be found in assets/js/demos.js-->
<!--        md.initDashboardPageCharts();-->

<!--    });-->
<!--</script>-->
</body>

</html>