<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Entry</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MIU<span> Sched</span></a>
        </div>
    </div>
</nav>

<div class="content" align="center">

    <br />

    <form action="#" th:action="@{/addnewentry}" th:object="${newEntry}"
          method="post">
        <input type="hidden" th:field="*{id}"/>
        <fieldset>
            <legend> Add New Entry </legend>

            <table style="color: black" class="spacing-table">
                <tr>
                    <td>Entry Name:</td>
                    <td>
                    <select name="entryType">
                        <option th:each="entryName : ${T(com.edu.miusched.domain.EntryType).values()}"
                                th:value="${entryName}" th:text="${entryName}"></option>

                    </select>
                    </td>
<!--                    <td><input type="text" th:field="*{entryName}" /></td>-->
                </tr>
                <tr>
                    <td>FPP Number:</td>
                    <td><input type="text" th:field="*{FPPNum}" /></td>
                </tr>
                <tr>
                    <td>MPP Number:</td>
                    <td><input type="text" th:field="*{MPPNum}" /></td>
                </tr>
                <tr>
                    <td>Start Date:</td>
                    <td><input type='date'  th:field="*{startDate}" /></td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td><input type='date'  th:field="*{endDate}" /></td>
                </tr>



            </table>
            <div class="reg-form-actual">
                <p>
                    <input id="btnadd" type="submit" class="btn btn-default"
                           value="Add" />
                </p>
            </div>
        </fieldset>
    </form>

</div>
</body>
</html>