<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entries Info</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MIUSched<span> - Demo</span></a>
        </div>
    </div>
</nav>
<div class="content" align="center">
    <div th:if="${not #lists.isEmpty(entries)}">
        <h2>Entry Information</h2>
        <table class="table table-striped">
            <tr>

                <th>Entry Name</th>
                <th>FPP Number</th>
                <th>MPP Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Delete Entry</th>
                <th>Edit Entry</th>
            </tr>
            <tr th:each="entry : ${entries}">
                <td style="display:none;" th:text="${entry.id}"></td>
                <td th:text="${entry.entryName}"></td>
                <td th:text="${entry.FPPNum}"></td>
                <td th:text="${entry.MPPNum}"></td>
                <td th:text="${entry.startDate}"></td>
                <td th:text="${entry.endDate}"></td>
                <td><a style="color: blue" th:href="${'/admin/entries/delete/' + entry.id}">Delete</a> </td>
                <td><a style="color: blue" th:href="${'/admin/entry/edit/' + entry.id}">Edit</a> </td>
            </tr>
        </table>
    </div>
    <div   align="left" class ="reg-form-actual">
        <a href="/admin/entry" class="btn btn-primary">Add New Entry</a>
    </div>
</div>
</body>
</html>